.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  gap: 2rem;
}

math-field {
  box-sizing: border-box;
  padding: 0.5em;
  width: 400px;
  font-size: 1.5em;
  border-radius: 8px;
  border: 1px solid #999;
}
